/* BODY */

body {
    padding: 20px 0;
}

/* NAVIGATION */

.nav {
	float: right;
}

.flash-message {
    margin-top: 20px;
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: lightgreen;
  padding: 5px;
}

.sub-menu > li {
  display: block;
  cursor: pointer;
}

li:hover .sub-menu {
  display: block;
}
