<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">

        .registration-container {
            width: 400px;
            margin: auto;
            padding-top: 15px;
        }

        .form-group label {
          color: white;
        }

        .alert {
          float:right;
          -webkit-animation: flag 2s linear 0s 1 normal;
          animation: alert-flag 1s linear 0s 1 normal;
        }

        @-webkit-keyframes alert-flag {
          0% {opacity: 0;}
          100% {opacity: 1;}
        }

        @keyframes alert-flag {
          0% {opacity: 0;}
          100% {opacity: 1;}
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }

        /* For showing under-shadow for an element */
        .shadow {
            -moz-box-shadow:    2px 2px 3px 4px #ccc;
            -webkit-box-shadow: 2px 2px 3px 4px #ccc;
            box-shadow:         2px 2px 3px 4px #ccc;
        }

        /* GLOBAL STYLES
        -------------------------------------------------- */
        /* Padding below the footer and lighter body text */

        body {
          color: #5a5a5a;
          padding-bottom: 80px;
        }

        footer {
          opacity: 0;
        }

        footer > .container .text-muted {
          margin: 20px 0;
        }

        footer > .container {
          padding-right: 15px;
          padding-left: 15px;
        }

        /* CUSTOMIZE THE NAVBAR
        -------------------------------------------------- */


        /* Flip around the padding for proper display in narrow viewports */
        body > .container {
          padding-right: 0;
          padding-left: 0;
        }
        .navbar {
          background: rgba(255,255,255,0);
          border-color: rgba(255,255,255,0);
          padding-right: 15px;
          padding-left: 15px;
        }
        .navbar .container {
          width: auto;
        }

        @media (max-width: 890px) {
          .navbar-header {
              float: none;
          }
          .navbar-left,.navbar-right {
              float: none !important;
          }
          .navbar-toggle {
              display: block;
          }
          .navbar-collapse {
              border-top: 1px solid transparent;
              box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
          }
          .navbar-fixed-top {
              top: 0;
              border-width: 0 0 1px;
          }
          .navbar-collapse.collapse {
              display: none!important;
          }
          .navbar-nav {
              float: none!important;
              margin-top: 7.5px;
          }
          .navbar-nav>li {
              float: none;
          }
          .navbar-nav>li>a {
              padding-top: 10px;
              padding-bottom: 10px;
          }
          .collapse.in{
              display:block !important;
          }
        }

        /* CUSTOMIZE THE CAROUSEL
        -------------------------------------------------- */

        /* Carousel base class */
        .carousel {
          height: 500px;
          margin-bottom: 60px;
        }
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
          z-index: 10;
        }

        /* Declare heights because of positioning of img element */
        .carousel .item {
          height: 500px;
          background-color: #777;
        }
        .carousel-inner > .item > img {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;
          height: 500px;
          object-fit: cover;
          opacity: .35;
        }


        /* MARKETING CONTENT
        -------------------------------------------------- */

        /* Center align the text within the three columns below the carousel */
        .marketing .col-lg-4 {
          margin-bottom: 20px;
          text-align: center;
        }
        .marketing h2 {
          font-weight: normal;
        }
        .marketing .col-lg-4 p {
          margin-right: 10px;
          margin-left: 10px;
        }


        /* Featurettes
        ------------------------- */

        .featurette-divider {
          margin: 80px 0; /* Space out the Bootstrap <hr> more */
        }

        /* Thin out the marketing headings */
        .featurette-heading {
          font-weight: 300;
          line-height: 1;
          letter-spacing: -1px;
        }


        /* RESPONSIVE CSS
        -------------------------------------------------- */

        @media (min-width: 768px) {
          /* Navbar positioning foo */
          .navbar-wrapper {
            margin-top: 20px;
          }
          .navbar-wrapper .container {
            padding-right: 15px;
            padding-left: 15px;
          }
          .navbar-wrapper .navbar {
            padding-right: 0;
            padding-left: 0;
          }

          /* The navbar becomes detached from the top, so we round the corners */
          .navbar-wrapper .navbar {
            border-radius: 4px;
          }

          /* Bump up size of carousel content */
          .carousel-caption p {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.4;
          }

          .featurette-heading {
            font-size: 50px;
          }
        }

        @media (min-width: 992px) {
          .featurette-heading {
            margin-top: 120px;
          }
        }

        /* CALCULATOR 
        -------------------------------------------------- */

        h1, 
        h3{
          text-align: center;
        }

        .input-symbol > input {
          padding-left: 30px;
          font-size: 26px;
          left: 50%;
          float: none;
          outline: none;
          width: 125px;
          height: 70px;
          border-color: #ededed;
          transition-property: border-color;
          transition-duration: .1s;
          transition-timing-function: linear;
        }

        .phase2,
        .phase3,
        .phase4 {
          display: none;
        }

        .col-sm-10 {
          margin: 0 auto;
          float: none;
        }

        .input-symbol > input:hover {
          border-color: #00ac98;
        }

        .input-symbol > input:focus {
          border-width: 3px;
          border-color: #00ac98;
        }

        .input-symbol {
          position: relative;
          text-align: center;
          font-weight: 200;
          display: block;
          color: #7f8c8d;
          font-size: 13px;
        }

        .input-symbol:before {
          position: absolute;
          padding-left: 2px;
          content:"$";
          font-size: 350%;
          opacity: .3;
        }

        .input-percent {
          position: relative;
          text-align: center;
          font-weight: 200;
          display: block;
          color: #7f8c8d;
          font-size: 13px;
        }

        .input-percent:before {
          position: absolute;
          left: 215px;
          content:"%";
          font-size: 350%;
          opacity: .3;
        }

        .input-percent > input:hover {
          border-color: #00ac98;
        }

        .input-percent > input:focus {
          border-width: 3px;
          border-color: #00ac98;
        }

        .input-percent > input {
          padding-left:5px;
          padding-right: 35px;
          font-size: 26px;
          left: 50%;
          float: none;
          outline: none;
          width: 125px;
          height: 70px;
          border-color: #ededed;
          transition-property: border-color;
          transition-duration: .1s;
          transition-timing-function: linear;
        }

        .calc-holder {
          padding-top: 100px;
          margin: 0 auto;
          float: none;
        }

        .price-box {
          margin: 0 auto;
          background: #E9E9E9;
          border-radius: 10px;
          padding: 40px 15px;
          /*width: 500px;*/
        }

        .ui-widget-content {
          border: 1px solid #bdc3c7;
          background: #e1e1e1;
          color: #222222;
          margin-top: 4px;
        }

        .ui-slider .ui-slider-handle {
          position: absolute;
          z-index: 2;
          width: 7.2em;
          height: 2.7em;
          cursor: default;
          margin: 0 -40px auto !important;
          text-align: center; 
          line-height: 30px;
          color: #FFFFFF;
          font-size: 12px;
        }

        .ui-slider .ui-slider-handle .glyphicon {
          color: #FFFFFF;
          margin: 0 1px; 
          font-size: 11px;
          opacity: 0.7;
        }

        .ui-corner-all {
          border-radius: 20px;
        }

        .ui-slider-horizontal .ui-slider-handle {
          top: -.9em;
        }

        .ui-state-default,
        .ui-widget-content .ui-state-default {
          border: 1px solid #f9f9f9;
          background: #3498db;
        }

        .ui-slider-horizontal .ui-slider-handle {
          margin-left: -0.5em;
        }

        .ui-slider .ui-slider-handle {
          cursor: pointer;
        }

        .ui-slider a,
        .ui-slider a:focus {
          cursor: pointer;
          outline: none;
        }

        .price, .lead p {
          font-weight: 600;
          font-size: 32px;
          display: inline-block;
          line-height: 60px;
          border:0;
          width: 245px;
        }

        h4.great {
          background: #00ac98;
          margin: 0 0 25px -60px;
          padding: 7px 15px;
          color: #ffffff;
          font-size: 18px;
          font-weight: 600;
          border-radius: 5px;
          display: inline-block;
          -moz-box-shadow:    2px 4px 5px 0 #ccc;
          -webkit-box-shadow: 2px 4px 5px 0 #ccc;
          box-shadow:         2px 4px 5px 0 #ccc;
        }

        .total {
          border-bottom: 1px solid #7f8c8d;
          /*display: inline;
          padding: 10px 5px;*/
          position: relative;
          padding-bottom: 20px;
        }

        .total:before {
          content: "";
          display: inline;
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 100%;
          height: 3px;
          background: #7f8c8d;
          opacity: 0.5;
        }

        .input-caption {
          text-align: center;
          font-weight: 200;
          display: block;
          color: #7f8c8d;
          font-size: 16px;
        }

        .output-caption {
          text-align: center;
          font-weight: bold;
          display: block;
          color: white;
          font-size: 16px;
          padding-top: 60px;
        }

        .results {
          position: relative;
          text-align: center;
          display: block;
          color: white;
        }

        .form-pricing {
          height: 300px;
          background: #ffffff;
          padding: 20px;
          border-radius: 4px;
        }

        .price-form {
          background: #00ac98;
          margin-bottom: 10px;
          padding: 20px;
          border: 1px solid #eeeeee;
          height: 300px;
          border-radius: 4px;
          /*-moz-box-shadow:    0 5px 5px 0 #ccc;
            -webkit-box-shadow: 0 5px 5px 0 #ccc;
            box-shadow:         0 5px 5px 0 #ccc;*/
        }

        .form-group {
          margin-bottom: 0;
        }

        .form-group span.price {
          font-weight: 200;
          display: inline-block;
          color: #7f8c8d;
          font-size: 14px;
        }

        .help-text {
          display: block;
          margin-top: -10px;
          margin-bottom: 10px;
          color: #737373;
          /*position: absolute;*/
          /*margin-left: 20px;*/
          font-weight: 200;
          /*text-align: right;*/
          width: 188px;
        }

        .price-form label {
          font-weight: 200;
          font-size: 21px;
        }

        .ui-slider-range-min {
          background: #2980b9;
        }

        .active-month,
        .active-term {
          background: #3276b1;
        }

        /* HR */

        hr.style {
          border: 0;
          border-bottom: 1px dashed #ccc;
          background: #999;
        }

    </style>
</head>
</html>