<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Analytico</title>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">        

        <%- include('partials/header') %>
    </head>

    <body>

        <script>
          var margin;
          var aov;
          var cpc;

          function updateMargin(updatedText) {
              document.getElementById('margin-result').innerHTML = updatedText.value + '%';
              if (!($("#margin-result").html() == '00.00%')) {
                $('.phase2').show();
                /*
                // Auto-scroll down to see next phase
                $('html, body').animate({
                   scrollTop: $('.phase2').offset().top
                }, 'slow');
                */
              } else {
                $('.phase2').hide(1000);
                $('.phase3').hide(1000);
                $('.phase4').hide(1000);
              }
              margin = updatedText.value;
          }

          function updateAOV(updatedText) {
              document.getElementById('aov-result').innerHTML = '$' + updatedText.value;
              if (!($('#aov-result').html() == '$0.00')) {
                $('.phase3').show();
                /*
                // Auto-scroll down to see next phase
                $('html, body').animate({
                   scrollTop: $('.phase3').offset().top
                }, 'slow');
                */
              } else {
                $('.phase3').hide(1000);
              }

              aov = updatedText.value;
          }

          function updateCPC(updatedText) {
              document.getElementById('cpc-result').innerHTML = '$' + updatedText.value;
              if (!($('#cpc-result').html() == '$0.00')) {
                $('.phase4').show();
                calculate();
                /*
                // Auto-scroll down to see next phase
                $('html, body').animate({
                   scrollTop: $('.phase4').offset().top
                }, 'slow');
                */
              } else {
                $('.phase4').hide(1000);
              }

              cpc = parseInt(updatedText.value) * 100;
          }

          function calculate() {
              document.getElementById('cpa-result').innerHTML = '$' + (margin / 100) * aov;
              document.getElementById('cr-result').innerHTML = (aov / margin * cpc);
          }

        </script>

        <a class="navbar-brand" href="/">Back to Login</a>
        <div class="phase1">
            <div class="container">
                <div class="calc-holder col-sm-10">
                    <h1><span class="glyphicon glyphicon-piggy-bank" style="font-size:80%;"></span>  Paid Advertising Calculator</h1>
                    <hr>
                    
                    <h3>Average Net Margin</h3>
                    <span><i>Average Net Margin is simply what percentage of a sale you actually retain as profit for your business. At a base level, Net Profit / Revenue = Net Margin.</i></span>

                    <div class="price-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <form class="form-horizontal form-pricing" role="form">
                                    <div class="price-slider">
                                          <h4 class="great">1/3</h4>
                                              <span class="input-caption">What is your Average Net Margin?</span><br>
                                              <span class="input-percent">
                                                  <input name="margin" id="margin" maxlength="5" onkeyup="updateMargin(this)"/>
                                              </span>
                                    </div>
                                    </div>
                                    <div class="col-sm-6">
                                          <div class="price-form">
                                              <span class="output-caption">Your Average Net Margin is:</span><br>
                                              <label class="results" style="font-weight: bold; font-size:34px;" id="margin-result" value>00.00%</label>
                                          </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="phase2">
            <div class="container">
                <div class="col-sm-10">
                    <hr>
                    <h3>Average Order Value (AOV)</h3>
                    <span>Average Order Value is the average amount of revenue you get from a sale. You can typically find this value in your Google Analytics account within the “Ecommerce” reporting tab for your PPC account data.</span>

                    <div class="price-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <form class="form-horizontal form-pricing" role="form">
                                    <div class="price-slider">
                                        <h4 class="great">2/3</h4>
                                            <span class="input-caption">What is your AOV?</span><br>
                                            <span class="input-symbol">
                                                <input name="aov" id="aov" maxlength="6" onkeyup="updateAOV(this)"/>
                                            </span>
                                    </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="price-form">
                                            <span class="output-caption">Your AOV is:</span><br>
                                            <label class="results" style="font-weight: bold; font-size:34px;" id="aov-result">$0.00</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="phase3">
            <div class="container">
                <div class="col-sm-10">
                    <hr>
                    
                    <h3>Average Cost Per Customer (CPC)</h3>
                    <span><i>The average CPC should be pulled from a significant sample size of your ad account data. For example, you may look at the last 30-60 days of your ad account stats and check the average CPC metric. Use this metric for your calculation.</i></span>

                    <div class="price-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <form class="form-horizontal form-pricing" role="form">
                                    <div class="price-slider">
                                        <h4 class="great">3/3</h4>
                                            <span class="input-caption">What is your Average CPC?</span><br>
                                            <span class="input-symbol">
                                                <input name="cpc" id="cpc" maxlength="6" onkeyup="updateCPC(this)"/>
                                            </span>
                                    </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="price-form">
                                            <span class="output-caption">Your Average CPC:</span><br>
                                            <label class="results" style="font-weight: bold; font-size:34px;" id="cpc-result">$0.00</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="phase4">
            <div class="container">
                <div class="col-sm-10">
                    <hr>
                    
                    <h3>Your PPC Numbers</h3>
                    <span><i></i></span>

                    <div class="price-box">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="price-form">
                                    <span class="output-caption">Your Maximum Profitable CPA:</span><br>
                                    <label class="results" style="font-weight: bold; font-size:24px;" id="cpa-result"></label>
                                    <span class="output-caption">Your Minimum Profitable Conversion Rate:</span><br>
                                    <label class="results" style="font-weight: bold; font-size:24px;" id="cr-result"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="navbar-fixed-bottom">
            <div class="container">
                <p class="text-muted pull-right"><a href="#">Back to top</a></p>
                <p class="text-muted">&copy; 2016 Maison MRKT, LLC. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </div>
        </footer>
    </body>
</html>